table {
    border-collapse: collapse;
    background: #bebebe;
    width: 100%;
}
caption,
th,
td {
    padding: 1rem;
}
caption,
th {
    text-align: left;
}
caption {
    background: hsl(0 0% 0%);
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .4;
    color: white;
}
th {
    background: hsl(0 0% 0% / 0.5);
}
tr:nth-of-type(2n) {
    background: hsl(0 0% 0% / 0.05);
}

@media (max-width: 500px) {
    th {
        display: none;
    }
    td {
        display: block;
    }

    td::before {
        content: attr(data-cell) ": ";
        font-weight: 500;
        text-transform: capitalize;
    }
}


/* General Style */

body {
    background-color: #eee;
    font-size: 1.125rem;
    font-family: system-ui;
    line-height: 1.5;
}

.wrapper {
    width: min(900px, 100% - 3rem);
    margin-inline: auto;
}